@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.modal-enter {
  animation: fadeIn 0.3s ease-out;
}

.modal-exit {
  animation: fadeOut 0.3s ease-in;
}